@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250 250 250;
    --foreground: 20 20 20;
    --primary: 50 50 50;
    --secondary: 150 150 150;
    --accent: 100 100 100;
  }
}

@layer components {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  transition: background-color 0.3s ease;
}
